@page "/products"
@using OnlineShop.UI.Constants

@if (products?.Products is null)
{
    <LoadingScreen />
}
else
{
    foreach (var product in products.Products)
    {
        <div class="card" style="width: 18rem; display: @(product.IsHidden ? "none" : "")">
            <img src="@product.MainImageUrl?.Url" class="card-img-top" alt="">
            <div class="card-body">
                <h5 class="card-title">@product.Name</h5>
                <p class="card-text">@product.Description</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">@product.Price</li>
                @if (product.DiscountPrice is not null && product.DiscountPrice is not 0)
                {
                    <li class="list-group-item">@product.DiscountPrice ფასდაკლებული ფასი</li>
                }
            </ul>
            <div class="card-body">
                <button type="button" class="btn btn-outline-info" @onclick="@(() => NavigateToProductDetailsComponent(product.Id))">ნახეთ ვრცლად</button>
                <button type="button" class="btn btn-outline-success">კალათაში დამატება</button>
                @if (User.IsInRole(Role.Administrator))
                {
                    <button type="button" @onclick="@(async () => {product.IsHidden = await DeleteProductAsync(product.Id); })" class="btn btn-outline-danger">პროდუქტის წაშლა</button>
                }
            </div>
        </div>
    }

}

@code {

}