@page "/products"

@if (products.Products is null)
{
    <h1>loading todo</h1>
}
else
{
    foreach (var product in products.Products)
    {
        var image = product.Images.FirstOrDefault();

        <div class="card" style="width: 18rem;">
            <img src="@image.Url" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">@product.Name</h5>
                <p class="card-text">@product.Description</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">@product.Price</li>
                <li class="list-group-item">@product.DiscountPrice ფასდაკლება</li>
            </ul>
            <div class="card-body">
                <button type="button" class="btn btn-outline-info">ნახეთ ვრცლად</button>
                <button type="button" class="btn btn-outline-success">კალათაში დამატება</button>
            </div>
        </div>

    }
}

@code {

}