@page "/productDetails/{ProductId:long}"

@if (product is null)
{
    <LoadingScreen />
}
else
{

    <div class="card" style="width: 24rem; margin: auto; margin-top: 20px">
        <img src="@image?.Url" class="card-img-top" alt="">
        <div class="card-body">
            <h5 class="card-title">@product.Name</h5>
        </div>
        <div>
            @foreach (var smallImage in product.Images)
            {
                <img width="80px" height="70px" @onclick="@(() => ChangeMainImage(smallImage))" class='@(image?.Id ==smallImage.Id ? "border border-success" : "border border-danger")' src="@smallImage.Url" />
            }
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">@product.Price ფასი</li>
            @if (product.DiscountPrice is not null && product.DiscountPrice is not 0)
            {
                <li class="list-group-item">@product.DiscountPrice ფასდაკლებული ფასი</li>
            }
            @if (product.Brand is not null)
            {
                <li class="list-group-item">@product.Brand <strong> ბრენდი </strong></li>
            }
            @if (product.Color is not null)
            {
                <li class="list-group-item">@product.Color <strong> ფერი </strong></li>
            }
            @if (product.Size is not null)
            {
                <li class="list-group-item">@product.Size <strong> ზომა </strong></li>
            }
            @if (product.ForBaby is not null)
            {
                <li class="list-group-item"><strong>@(product.ForBaby.Value ? "საბავშვო": "არა საბავშვო") </strong></li>
            }
            @if (product.Discount is not null)
            {
                <li class="list-group-item">@(product.Discount * 100)% <strong> ფასდაკლება </strong></li>
            }
            @if (product.Expiration is not null)
            {
                <li class="list-group-item">@product.Expiration <strong> ვადა </strong></li>
            }
            @if (product.Gender is not null)
            {
                <li class="list-group-item">@product.Gender <strong> სქესი </strong></li>
            }
            @if (product.Description is not null)
            {
                <li class="list-group-item">@product.Description <strong> აღწერა </strong></li>
            }

            <li class="list-group-item">@product.ProductType <strong> პროდუქტის ტიპი </strong></li>
            <li class="list-group-item">@product.Quantity <strong> პროდუქტის რაოდენობა </strong></li>
        </ul>
        <div class="card-body">
            <button type="button" class="btn btn-outline-success" @onclick="@(async() => await AddCartAsync(product.Id))">კალათაში დამატება</button>
        </div>
    </div>
}

@code {

}